<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/hardware_store_logo.png"
             class="img-responsive center-block"
             style="max-height:400px;padding-bottom:5px" />
             <div class="text-center">
              <h3 style="padding-bottom:50px">HARDWARE STORE</h3>
            </div>
      </div>
      

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h5>Pilar Solis Martinez</h5>
      </div>

      <div class="text-center">
        <img src="./assets/images/GitHub-logo.png"
             class="img-responsive center-block"
             style="max-height:35px;padding-bottom:5px" />
        <a href="http://github.com/Pilicirce">https://github.com/Pilicirce</a>
      </div>
      <div class="text-center">
        <img src="./assets/images/LinkedIn-logo.png"
             class="img-responsive center-block"
             style="max-height:30px;padding-bottom:5px" />
        <a href="https://linkedin.com/in/pilar-solís-martínez-18720b54/">Linkedin: Pilar Solís Martínez</a>
      </div>
    </div>
  </div>
</div>
